.container{
    width: 100%;
    height: 100%;
}

.sidenav-content{
    width: 100%;
    padding: 20px;
    align-items: left;
    justify-content: left;
}
.sidenav {
   padding: 20px;
}

.mat-drawer{
padding: 0;
min-width: 300px;
}
