<mat-grid-list cols="2" rowHeight="2:1">

  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Nombre de missions effectuées</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="count">
          <mat-spinner *ngIf="!pastLaunchesCount" diameter="50"></mat-spinner>
          {{ pastLaunchesCount }}
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Nombre de missions à venir</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="count">
          <mat-spinner *ngIf="!nextLaunchesCount" diameter="50"></mat-spinner>
          {{ nextLaunchesCount }}
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Prochaine Mission</mat-card-title>
        <mat-card-subtitle *ngIf="nextLaunch">{{nextLaunch.name}} - {{formatDate(nextLaunch.date)}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          <mat-spinner *ngIf="!nextLaunch" diameter="50"></mat-spinner>
          <countdown [text]="text" *ngIf="nextLaunch" units="Month | Days | Hours | Minutes | Seconds"  [end]="nextLaunch.date"></countdown>
        </p>
      </mat-card-content>
      <mat-card-actions class="buttons-action">
        <a [routerLink]="['launches', 'next']"><button mat-raised-button color="primary"><mat-icon>search</mat-icon> Voir la mission</button></a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Dernière mission effectuée</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <mat-spinner *ngIf="!latestLaunch" diameter="50"></mat-spinner>
        <div *ngIf="latestLaunch">
          <img  class="latest-launch" width="100" *ngIf="latestLaunch.links && latestLaunch.links.mission_patch_small" [src]="latestLaunch.links.mission_patch_small" [alt]="latestLaunch.mission_name">
          <h3>{{latestLaunch.mission_name}}</h3>
          <h4>{{formatDate(latestLaunch.launch_date_utc)}}</h4>
          <a [routerLink]="['launches', latestLaunch.flight_number]"><button mat-raised-button color="primary"><mat-icon>search</mat-icon> Voir la mission</button></a>
        </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
